@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* CSS */


.button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-65:hover:after {
    opacity: .5;
    }

    .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-65:active:after {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .button-65 {
        padding: 14px 22px;
        width: 176px;
    }
    } 

.button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-65:hover:after {
    opacity: .5;
    }

    .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-65:active:after {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .button-65 {
        padding: 14px 22px;
        width: 176px;
    }
    } 
    

    .button-65-v2 {
        appearance: none;
        backface-visibility: hidden;
        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid rgb(235, 235, 235);
        box-shadow: none;
        box-sizing: border-box;
        color: #434e58;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-weight: 500;
        height: 50px;
        letter-spacing: normal;
        line-height: 1.5;
        outline: none;
        overflow: hidden;
        padding: 14px 30px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transform: translate3d(0, 0, 0);
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap;
    }
    
    .button-65-v2:hover {
        background-color: #1366d6;
        box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
        opacity: 1;
        transform: translateY(0);
        transition-duration: .35s;
        color: #fff;
    }
    
    .button-65-v2:hover:after {
        opacity: .5;
    }
    
    .button-65-v2:active {
        box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
        transform: translateY(2px);
        transition-duration: .35s;
    }
    
    .button-65-v2:active:after {
        opacity: 1;
    }
    
    @media (min-width: 768px) {
        .button-65-v2 {
            padding: 14px 22px;
            width: 176px;
        }
    }  
    
    





/* 
----------------------------------------------------------------------------------
Botão versão 3
*/
.button-65-v3 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #520ba6;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-65-v3:hover {
    background-color: #3f0685;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-65-v3:hover:after {
    opacity: .5;
    }

    .button-65-v3:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-65-v3:active:after {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .button-65-v3 {
        padding: 14px 22px;
        width: 176px;
    }
    } 
/* 
----------------------------------------------------------------------------------
Fim botão versão 3
*/


/* 
----------------------------------------------------------------------------------
Botão versão 3
*/
.button-65-v4 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #983dff;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-65-v4:hover {
    background-color: rgb(106, 13, 212);
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-65-v4:hover:after {
    opacity: .5;
    }

    .button-65-v4:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-65-v4:active:after {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .button-65-v4 {
        padding: 14px 22px;
        width: 176px;
    }
    } 
/* 
----------------------------------------------------------------------------------
Fim botão versão 3
*/


.bt-add-produto-cart{
    width: 100%; height: 40px;
    border: 1px solid #e7e9eb;
    border-radius: 10px;
}
.bt-add-produto-cart a{
    text-decoration: none;
    color: #434e58;
    cursor: pointer;
}
.bt-add-produto-cart a i{
    cursor: pointer;
}
.bt-add-produto-cart a label{
    position: relative;
    top: -4px;
    font-size: 14px;
    cursor: pointer;
}

.bt-excluir-iten-bag{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #4b5258;
    font-family: "Roboto", sans-serif;    
    color: #932be9;
}

.bt-trocar-endereco{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #4b5258;
    font-family: "Roboto", sans-serif;    
    color: #932be9;
}

.bt-selecionar-endereco{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #4b5258;
    font-family: "Roboto", sans-serif;    
    color: #932be9;
}

.print-button{
    position: relative;
    float: left;
    height: 40px; width: 120px;
    position: relative; float: left;
}

.whatsapp-button{
    position: relative;
    float: left;
    height: 40px; width: 120px;
    position: relative; float: left;
    margin-left: 10px;
}

.buttons-bt-generic-2-table{
    position: relative; float: left;
    height: 100%; width: 35px;
    border-radius: 5px; border: 1px solid #e7e9eb;
    font-size: 18px;
    padding-top: 4px;
}

.button-cancelar-pedido-bag{
    position: relative; float: right;
    height: 50px; width: 50px;
    margin-right: 8px; margin-top: 10px;
    border: 1px solid #e7e9eb;
    border-radius: 8px;
}
.button-cancelar-pedido-bag:hover{
    background-color: #dadada;
    cursor: pointer;
}
.button-cancelar-pedido-bag i{
    font-size: 22px;
    color: #636566;
}