
  .table-bordered {
    border: 1px solid #ddd !important;
  }
  
  table caption {
      padding: .5em 0;
  }
  
  @media screen and (max-width: 767px) {
    table caption {
      display: none;
    }
    .table-bordered {
      border: 1px solid #ffffff !important;
      border-bottom: 1px solid #f1f1f1 !important;;
    }    
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }

  .img-produto{
    height: 30px;
  }

  .pagination{
    width: 100%;
    height: 30px;
  }

  .pagination-previous{
    margin-right: 10px;
  }

  .pagination-next{
    margin-left: 8px;
  }
  .pagination-number{
    margin-left: 2px;
  }

  td{
    font-size: 14px;
  }

  /* colunas e fiels */
  .status-awaiting_approval{
    width: auto; height: 22px;
    border-radius: 12px;
    background-color: rgb(252, 115, 115);
  }
  .status-awaiting_approval label{
    font-size: 12px;
    color: rgb(156, 2, 2);
  }
  .status-preparation{
    width: auto; height: 22px;
    border-radius: 12px;
    background-color: rgb(140, 115, 252);
  }
  .status-preparation label{
    font-size: 12px;
    color: rgb(56, 2, 156);
  }  
  .status-delivery{
    width: auto; height: 22px;
    border-radius: 12px;
    background-color: rgb(115, 190, 252);
  }
  .status-delivery label{
    font-size: 12px;
    color: rgb(2, 82, 156);
  }  
  .status-finalized{
    width: auto; height: 22px;
    border-radius: 12px;
    background-color: rgb(181, 252, 115);
  }
  .status-finalized label{
    font-size: 12px;
    color: rgb(76, 156, 2);
  }   